
.ui_element_clubs {
    background: url("../assets/images/clubs-1.jpg");
	height: 128px;
	width:91px;

}
.clubs_cover {
    background-position: 90px 128px;
}

.clubs_joker {
	background-position: 193px 128px;
}

.clubs_king {
	background-position: 296px 128px;
}

.clubs_queen {
	background-position: 398px 128px;
}

.clubs_jack {
	background-position: 500px 128px;
}

.clubs_ten {
	background-position: 91px 260px;
}

.clubs_nine {
	background-position: 193px 260px;
}

.clubs_eight {
	background-position: 295px 260px;
}

.clubs_seven {
	background-position: 397px 260px;
}

.clubs_six {
	background-position: 500px 260px;
}

.clubs_five {
	background-position: 91px 394px;
}

.clubs_four {
	background-position: 193px 394px;
}

.clubs_three {
	background-position: 295px 394px;
}

.clubs_two {
	background-position: 397px 394px;
}

.clubs_ace {
	background-position: 500px 394px;
}