
.ui_element_diamonds {
    background: url("../assets/images/diamonds-1.jpg");
	height: 128px;
	width:91px;

}
.diamonds_cover {
    background-position: 90px 128px;
}

.diamonds_joker {
	background-position: 193px 128px;
}

.diamonds_king {
	background-position: 296px 128px;
}

.diamonds_queen {
	background-position: 398px 128px;
}

.diamonds_jack {
	background-position: 500px 128px;
}

.diamonds_ten {
	background-position: 91px 260px;
}

.diamonds_nine {
	background-position: 193px 260px;
}

.diamonds_eight {
	background-position: 295px 260px;
}

.diamonds_seven {
	background-position: 397px 260px;
}

.diamonds_six {
	background-position: 500px 260px;
}

.diamonds_five {
	background-position: 91px 394px;
}

.diamonds_four {
	background-position: 193px 394px;
}

.diamonds_three {
	background-position: 295px 394px;
}

.diamonds_two {
	background-position: 397px 394px;
}

.diamonds_ace {
	background-position: 500px 394px;
}